/* Sidebar mặc định desktop */
.sidebar {
    width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    transition: transform 0.3s;
}

/* Mobile: ẩn sidebar */
@media (max-width: 991px) {
    aside.sidebar {
        width: 250px;
        right: 0;
        left: auto;
        transform: translateX(100%);
        box-shadow: -3px 0 10px rgba(0, 0, 0, 0.3);
    }

    aside.sidebar.toSidebar {
        transform: translateX(0);
    }

    .sidebar .nav-link {
        justify-content: center;
    }

   
}